* {
    box-sizing: border-box;
}

p {
    font-family: arial;
    font-size: 18px;
    text-shadow: 0px 1px 3px green;
}

b {
    text-decoration: underline;
}

h1 {
    font-family: arial;
    font-size: 25px;
    text-shadow: 0px 1px 3px green;
}
table {
    width: 600px; /*largura*/
    /* border: 1px solid black; /*borda ao redor da tabela*/
}

td, th { /*estilizando 2 tags ao mesmo tempo 😎*/
    border: 1px solid black; /* borda em cada conteúdo da tabela */
    color: white;
    padding: 4px; /*espaçamento da borda para o conteúdo (fora para dentro)*/
}

table thead th{
    background-color: darkgreen;
    font-weight: normal;
}

table tbody td {
    background-color: yellowgreen;
}

table tbody tr:hover {
    background-color:green;
}

table thead th:hover {
    background-color:green;
}