* {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: justify;
}

h1 {
    padding: 1% 0 0 0; /*Descola o titulo 1% da tela para baixo*/
    text-align: center;
    font-family: 'Chilanka', cursive;
    color: red;
    font-size: 30px;
    text-shadow: 0px 1px 3px black;
}

h3{
    color: red;
    font-size: 25px;
    text-shadow: 0px 1px 3px gray;
    
}
a {
    text-decoration: none;
    color: black;
    background-color: yellow;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: yellowgreen;
}

ul {
    list-style-type: square; /*alterando o formato do icone listas ul*/
}

li {
    text-decoration: underline; /*tracinho em baixo dos itens da lista*/
}
