* {
    text-align: justify;
    font-family: arial;
}

h1 {
    color: red;
    font-size: 25px;
    line-height: 20px;
    text-shadow: 0px 1px 2px black;
}

h3 {
    color: red;
    text-decoration: underline;
}

span {
    color:red;
    font-weight: bold;
    text-decoration: underline;
}

button {
    font-weight: bold;
    border-radius: 10px;
    color: black;
}
button:hover {
    font-weight: bold;
    border-radius: 10px;
    background-color: #b6b6b6;
}