* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 19px;
}

h1.tittle {
    text-align: center;
    font-family: Arial;
    color: darkcyan;
    text-shadow: 0px 2px 1px gray ; /*1 prop.:distancia para direita 2 prop.: distancia para baixo 3 prop.: esfumaçamento 4 prop.: cor*/
    text-transform: uppercase; /*texto em caixa-alta lowercase é o inverso */
}

p {
    text-align: justify;
    line-height: 30px; /*altura da linha*/
    font-family: 'Roboto'; /*definindo fonte externa lembrando que quando é uma fonte externa deve-se colocar 'nome_da_fonte' */ 
}

p.description {
    font-size: 15px;
    text-align: center;
    color: darkcyan;
    letter-spacing: 1px; /*espaçamento entre letras*/
    word-spacing: 1px; /*espaçamento entre palavras*/
 }

 p.description a{
    text-decoration: none;
    color:darkcyan;
    text-shadow: 0px 1px 1px black; /*sombra da letra*/
    font-size: 17px;
    font-weight: bold;
 }

 p.description a:hover{
     text-decoration: underline;
 }

 
p.tutorial {
    font-size: 15px;
    text-align: center;
    color: darkcyan;
    letter-spacing: 1px; /*espaçamento entre letras*/
    word-spacing: 1px; /*espaçamento entre palavras*/
 }

b {
    text-transform: uppercase;
    color: red;
}

strong {
    font-size: 20px;
    background-color: yellow;
}