* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 19px;
}

h1.tittle {
    text-shadow: 0px 5px 3px gray ; /*1 prop.:distancia para direita 2 prop.: distancia para baixo 3 prop.: esfumaçamento 4 prop.: cor*/
    text-align: center;
    font-family: Arial;
    color: darkgreen;
    text-transform: uppercase; /*texto em caixa-alta lowercase é o inverso */
}


p {
    text-align: justify;
    line-height: 30px; /*altura da linha*/
}

p.description {
    font-size: 15px;
    text-align: center;
    color: darkgreen;
    letter-spacing: 2px; /*espaçamento entre letras*/
    word-spacing: 2px; /*espaçamento entre palavras*/
 }

 p.description b{
    text-decoration: line-through; /*coloca cortes no texto*/
 }
