* {
    box-sizing: border-box; /*as propriedades de width e height incluem o tamanho padding size e a propriedade border, mas não incluem a propriedade margin.*/
    text-align: center; /*alinhando texto ao centro*/
    font-family: Arial, Helvetica, sans-serif; /*definindo fontes para o projeto, caso 1 falhe a proxima assumira o lugar*/
}

body {
    margin: 50px; /*adicionando espaçamento nas laterais do BODY em x*/
    font-size: 17px; /*ajustando o tamanho do texto no BODY em x*/
    background-color: rgb(165, 165, 165); /*cor do background*/
    color: darkred; /*cor do texto*/
}

h1 {
    font-size: 25px; /*aumentando fonte dos h1*/
}

a {
    font-size: 20px; /*aumentando a fonte de A*/
    font-weight: bold; /*colocando em negrito o conteudo de A*/
    text-decoration: none; /*removendo linha do link*/
    color: darkred; /*cor do texto*/
}

a:hover {
    background-color: greenyellow; /*quando o mouse passar em cima fica na cor x*/
}

p {
    text-align: justify; /*justificando conteúdo do texto na tag p*/
}

p.description { /*Ajustando a descrição do conteúdo*/
    font-size: 20px;
}